.profile-container {
  width: 100%;
  height: 180vh;
  /* position: relative; */
}

.buttons2 {
  width: 8rem;
  height: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #22c35e;
  border-radius: 15px;
  position: sticky;
  top: 88%;
  margin: 0;
  left: 90%;
}

.buttons3 {
  width: 8rem;
  height: 4rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: #fff;
  background-color: #22c35e;
  border-radius: 15px;
  position: sticky;
  top: 88%;
  margin: 0;
  left: 80%;
}

.profile-header {
  margin: 2rem;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.profile-suggestions {
  margin: 2rem;
  display: flex;
  gap: 3rem;
}

.profile-display {
  margin: 2rem;
}

.card-custom-profile {
  margin-bottom: 2rem;
}
