@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.features {
  margin-top: 2rem;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 2rem; */
  margin-bottom: 10rem;
}

.features-primary {
  margin-top: 14rem;
  font-size: 3rem;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: bold;
  margin-left: 40%;
}

.list {
  width: 100%;
  height: 30rem;
  padding: 5rem;
  display: flex;
  align-items: center;
}

.list-blue {
  color: #fff;
  background-color: #1da1f2;
}

.list-white {
  border: 5px solid #1da1f2;
}
